#someOut{
    margin-right: 10px;
}
#main{
    text-align: center;
}
#generator{
    margin-left: 5px;
    border: 1px solid white;
}
#exit{
   display:block;
   position: relative;
   border: 1px solid white;
   margin: 10px auto;
}
.enterValues{
    text-align: center;
}