#someOut {
    margin-right: 10px;
}

h1 {
    font-size: 40px;
}

body {
    background-image: url(/images/image1.jfif);
    font-family: URW Chancery L, cursive;
}

#container {
  
    justify-content: center;
    text-align: center;
    align-items: center;
}

#main {
    position: relative;
    background-color: #fdfaed;
    width: 550px;
    height: 450px;
    border: 3px solid #b89831;
    text-align: center;
    padding: 7%;
    margin: auto;
    margin-top: 5%;
    border-radius: 50px;
}

#guessNumber {
    border: none;
    background-color: #61da61;
    border-radius: 5px;
    font-size: 13px
}

#generator {
    margin-left: 5px;
    background-color: #fccf3e;
    border-radius: 5px;
    font-size: 13px;
    border: none;
}

 #exit {
    margin-top: 10px;
    background-color:rgb(255, 100, 100);
    border-radius: 5px;
    font-size: 13px;
    border: none;
    position: absolute;
    top: 15px;
    right:50px;

} 

.enterValues {
    text-align: center;
    border-radius: 5px;
width: 160px;

}

.userNumber {
    text-align: center;
    border-radius: 5px;
}

button:hover{
    color: rgb(0, 68, 255);
    border-color: red;
    }
button:active{
    color: rgb(255, 255, 255);
}
button{
    width: 100px;
    height: 40px;
}
#hiding{
  /*   display: none; */
}